/* color */
:root {
  /* b : 버튼색(진한정도 중) */
  --b-red: #FF8585;
  --b-blue :#508FCC;
  --b-yellow : #F6DE00;
  --b-black: #242424;
  /* f : 글씨색(진한정도 상)*/
  --f-red: #F64848;
  --f-blue :#0D79DD;
  --f-gray :#a2a2a2;
  --f-black:#434343;
  /* l : 배경색(진한정도 하) */
  --l-red: #FFF2F2;
  --l-blue :#E4ECF6;
  --l-gray :#F5F5F5;
  --l-yellow :#FFF48D;
}

/* wrap */
.wrap { max-width: 1200px; margin: 0 auto; }
.center { margin: 0 auto;}

